* {
    /* border: 1px solid rgb(223, 37, 37) !important; */
    box-sizing: border-box;
    font-family: "Noto Sans TC", "Noto Sans HK", "Solway", "微軟正黑體", "sans-serif";
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
h1 {
    color: #eeeeee;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 56px;
    font-weight: 450;
    margin: 20px auto;
    letter-spacing: 3px;
}

body {
    max-width: 100%;
    height: auto;
    background-image: url(/image/marble.png);
}

#section-5 .container {
    background-image: url("./image/INFO-bg1.png");
    background-repeat: repeat;
    position: relative;
    width: auto;
    max-width: 100%;
    transform-origin: left;
    transform: skewY(6deg);
}

#section-5 .row {
    height: 200px;
}

.navbar {
    background-color: #eeeeee;
}

.navbar a {
    color: #6D96AD;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #024F57;
    text-decoration: none;
}

.navbar-nav {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    margin-right: 50px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #eeeeee;
    text-align: center;
    border: none;
}

ul.dropdown-menu li {
    line-height: 2;
}

.navbar-toggler {
    border-color: green;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbarTogglerDemo02 ul {
    border-bottom: 2px solid#eeeeee;
    background-color: #eeeeee;
}

.sticky {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
    background-color: #eeeeee;
    z-index: 2;
}


/* about */

#section-1 {
    background-image: url("./image/INFO-bg1.png");
    position: relative;
    background-repeat: repeat;
    height: auto;
    max-width: 100%;
}

.container.idea {
    background-image: url("./image/INFO-bg1.png");
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    transform-origin: left;
    transform: skewY(6deg);
}

.container.idea .row {
    transform: skewY(-6deg);
    height: 250px;
}

#section-1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section-2 */

#section-2 h2 {
    font-family: 'Noto Sans HK', sans-serif;
    text-align: center;
    color: #15375a;
    font-size: 36px;
    letter-spacing: 3px;
    margin: 160px 0 0;
}

#section-2 .container {
    margin: 100px auto;
}

#section-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-2 .row img {
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 30px;
}

#section-2 #carouselExampleFade .carousel-inner {
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px;
}

#section-2 .row .col-sm-12 span {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Noto Sans HK', sans-serif;
}

#section-2 .row .col-sm-12 {
    color: #666;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 3px;
}


/* .section-3 */

#section-3 .container-fluid.t {
    background-image: url("./image/INFO-bg1.png");
    background-repeat: repeat;
    position: relative;
    height: auto;
    max-width: 100%;
    transform-origin: right;
    transform: skewY(-6deg);
}

#section-3 .container {
    transform: skewY(6deg);
}

#section-3 .row img {
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 30px;
}

#section-3 #carouselExampleFade1 .carousel-inner {
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px;
}

#img-h {
    padding: 80px;
}

#section-3 .row .col-sm-12 {
    color: #cbcbcb;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-3 .row .col-sm-12 span {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Noto Sans HK', sans-serif;
}


/* section-4 */

#section-4 h2 {
    text-align: center;
    color: #15375a;
    font-size: 36px;
    margin: 20px auto;
    letter-spacing: 3px;
    font-family: 'Noto Sans HK', sans-serif;
}

#section-4 .container {
    margin: 100px auto;
}

#section-4 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-4 .row img {
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 30px;
}

#section-4 .row img {
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 30px;
}

#section-4 #carouselExampleFade2 .carousel-inner {
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px;
}

#section-4 #carouselExampleFade3 .carousel-inner {
    padding: 30px;
    border-radius: 20px;
    background-color: #15375a;
}

#section-4 #carouselExampleFade4 .carousel-inner {
    padding: 30px;
    border-radius: 20px;
}

#section-4 #carouselExampleFade5 .carousel-inner {
    padding: 30px;
    border-radius: 20px;
}

#section-4 .row .col-sm-12 span {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Noto Sans HK', sans-serif;
}

#section-4 .row .col-sm-12 {
    color: #666;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 3px;
}

#hr-2 {
    border: 0;
    border-bottom: 3px dashed #ccc;
    background: #999;
}

#section-4 .row-2 .col-sm-12 {
    color: #15375a;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 3px;
}

#img-i {
    padding: 30px;
}


/* footer */

footer {
    color: #eeeeee;
}

.footer.bg {
    background-image: url(/image/INFO-bg1.png);
    background-repeat: repeat;
    position: relative;
    max-width: 100%;
    height: auto;
}

footer #row-1 {
    margin: 20px 0 0 0;
}

footer .col-xl-6 {
    max-width: 100%;
    height: auto;
}

footer .row #icon-r {
    font-size: 24px;
    line-height: 2;
    text-align: right;
}

#footer-left,
#footer-right {
    font-size: 36px;
    text-align: left;
}

#footer-right {
    text-align: left;
}

footer ul {
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer li a {
    color: #eeeeee;
    font-size: 24px;
}

footer li a:hover {
    color: rgb(252, 67, 11);
    text-decoration: none;
}

footer hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, rgb(255, 255, 255), #ccc);
}

.container-fluid.des {
    color: #eeeeee;
    text-align: center;
    margin: 20px auto;
}

.container-fluid.des a {
    color: #eeeeee
}

.container-fluid.des a:hover {
    text-decoration: none;
}

#btntop {
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50%;
    padding: 3px;
}

@media (max-width:1200px) {
    .navbar {
        padding: 0;
    }
    #section-2 .row .col-sm-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #section-2 .row {
        flex-direction: column-reverse;
    }
    #section-4 .row {
        flex-direction: column-reverse;
    }
    #img-i {
        padding: 40px;
    }
    #footer-left,
    #footer-right {
        font-size: 24px;
        text-align: center;
    }
    footer .row #icon-r {
        font-size: 18px;
        text-align: center;
    }
    footer span {
        display: none;
    }
    footer li a {
        font-size: 20px;
    }
}

@media (min-width: 997px) and (max-width: 1199px) {
    #section-4 #img-h {
        padding: 250px;
    }
    #section-4 #img-i {
        padding: 150px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    #img-i {
        padding: 10px;
    }
    #section-5 .row {
        height: 80px;
    }
    footer img {
        width: 100px;
    }
}

@media (max-width: 484px) {
    #img-h {
        padding: 20px;
    }
}