*{
    /* border: 1px solid rgb(223, 37, 37) !important; */
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}


h1 {
    color: #eeeeee;
    font-family: "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
    font-size: 64px;
    font-weight: 450;
}

.section-2,.section-3{  
    width:100%;
    height:100%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-image:url(/image/INFO-case.png);
}
.section-4{
    width:100%;
    height:100%;
    background-repeat: repeat;
    background-image:url(/image/INFO-case.png);

}
.section-5{
    width:100%;
    height:100%;
    background-repeat: repeat;
    background-image:url(/image/INFO-bg1.png);
}

.section-5 .container{
    background-image: url("./image/INFO-bg1.png");
    background-repeat: repeat;
    position: relative;
    width:auto;
    max-width:100%;
    max-height:100%;
    transform-origin: left;
    transform: skewY(6deg);
}
.section-5 .row{
    height: 200px;
}
/* nab */
.navbar {
    background-color: #eeeeee;
}

.navbar a {
    color: #6D96AD;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #024F57;
    text-decoration: none;
}

.navbar-nav{
    position: relative;
    margin:0;
    padding: 0;
    list-style:none;
}
.navbar-nav .nav-item{
    margin-right: 50px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    background-color: #eeeeee;
    text-align: center;
    border: none;
}

ul.dropdown-menu li {
    line-height: 2;
}

.navbar-toggler {
    border-color: green;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarTogglerDemo02 ul{
    border-bottom:2px solid#eeeeee;
    background-color:#eeeeee;
}
.sticky {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom:2px solid #eeeeee;
    background-color:#eeeeee; 
    z-index: 1;
}

/* banner */
/* .bd-example img{
    height: 100vh;
} */
/* section1 */
.container-about {
    background-image: url("./image/INFO-bg1.png");
    position: relative;
    background-repeat: repeat;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.container-about-bg {
    background-image: url("./image/INFO-bg1.png");
    background-repeat: repeat;
    position: relative;
    width:auto;
    max-width:100%;
    max-height:100%;
    transform-origin: left;
    transform: skewY(6deg);
}

.container-about-bg .container .row {
    transform: skewY(-6deg);
}

.container-about-bg .row h1{
margin-bottom: 30px;
}
.container-about .title {
    margin:30px 0 0 0;
}
.container-about-bg .row img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
        border-radius:50px 0 0 0;
}
.container-about-bg .col-xl-12 p{
    color:#eeeeee;
    font-size:24px;
    line-height:1.5;
    margin: 50px auto;
}
.container-about-bg button{
    width: 150px;
    background-color:rgba(255,255,255,0);
    font-size: 36px;
    color: #eeeeee;
    border:3px solid rgb(255, 255, 255) ;
}

/* section2 */

.container-fluid-case .col-xl-12 p{
    color:#15375a;
    font-size:24px;
    line-height:1.5;
    margin: 50px auto;
}

.container-fluid-case button{
    width: 150px;
    background-color:rgba(255,255,255,0);
    font-size: 36px;
    color: #15375a;
    border:3px solid rgb(21, 55, 90) ;
}
.container-fluid-case .container{
    padding: 0;
}

.container-fluid-case .row{
    margin: 100px auto;
}
.container-fluid-case img{
    border-radius:0 50px 0 0;
}
/* section3 */

.container-fluid-history .row h1{
    color: #15375a;
}
.container-fluid-history .container{
    padding-right: 0;
}
.container-fluid-history .row{
    margin-right: 0;
}
.container-fluid-history .row p{
    color:#15375a;
    font-size:24px;
    line-height:1.5;
    margin: 50px auto;
}
.container-fluid-history img{
    border-radius:0 25px 0 25px;
    width: 250px;
    margin: 10px 0;
}
.container-fluid-history .row button{
    width: 150px;
    background-color:rgba(255,255,255,0);
    font-size: 36px;
    color: #15375a;
    border:3px solid rgb(21, 55, 90) ;
}
.container-fluid-history .row .col-xl-3{
    overflow: hidden;
}

/* section-4 */
.container-contact{
    background-image: url("./image/INFO-contact_01.png");
    width:100%;
    height:100%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    transform-origin: left;
    transform: skewY(6deg);
}
.container-contact .container-fluid{
    transform: skewY(-6deg);
}
.container-contact .row{
    height: 600px;
}
#contact{
    display:flex;
    justify-content: center;
    align-items: center;
}

#contact-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;  
}

#contact-c .col-sm-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#contact-c p{
    width: 600px;
}
#contact-c span{
    color: #eeeeee;
    font-size: 36px;
}



/* footer */


.footer-bg{
    background-image:url(/image/INFO-bg1.png);
    background-repeat: repeat;
    position: relative; 
    max-width:100%;
    max-height:100%;
}

footer .row{
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
}
footer .row .col-xl-6{
    color:#eeeeee;
    font-size: 48px;
}
#footer-left{
    display: block;
    text-align: right;
}

footer ul{
    text-align: center;
    margin-top: 50px;
}
footer li{
    display: inline-block;
   margin: 0 10px;
}
footer li a{
    color: #eeeeee;
    font-size: 28px;
}
footer hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, rgb(255, 255, 255), #ccc);
}
.container-fluid-des{
    color: #eeeeee;
    text-align: center;
    margin: 20px;
}
.container-fluid-des a{
    color: #eeeeee
}
#btntop{
    position: fixed;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50%;    
    padding: 3px;
}

@media screen and (max-width:1024px){
    .navbar{
        padding:0;
    }
    .section-2 .row{
        flex-direction: column-reverse;
    }
    .container-contact{
        background-image: url("./image/INFO-contact_02.png");
    }
    #contact-c .col-sm-12{
        justify-content: flex-start;
        align-items: center;
    }
    .container-fluid-case button {
        margin-bottom: 20px;
    }
    .container-fluid-history .row button {
        margin-bottom: 20px;
    }
    #footer-left{
        text-align: center;
    }
    #footer-right{
        display: block;
        text-align: center;
    }

   
}

@media (max-width: 767px) {
    h1{
        font-size: 48px;
    }
    .container-about-bg button{
        font-size: 24px;
    }
    .container-fluid-case button {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .container-fluid-history .row button {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #contact-c p {
        width: 350px;
    }
    #contact-c span {
        font-size: 18px;
    }
    #footer-left{
        font-size: 36px;
    }
    #footer-right{
        font-size: 36px;
    }
    footer ul{
        padding: 0;
    }
    footer li{
        display: block;
        text-align: center;
    }

}